# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.log

#mlsmoon add
.idea/
.vs/
Debug/
*.user
/02-XMGLearnCPP/函数默认参数/x64
/02-XMGLearnCPP/函数重载与EXE反汇编/x64
